<!--> Don't leave any space between tags <!-->
<single>1</single>
<two>12</two>
<three>123</three>
<hundred>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50</hundred>
<special_characters>>><<!@#$%^&*()_+}{|":?><±~>><<</special_characters>
<sim_pin_code>"1234"</sim_pin_code>
<sim_pin_code>"1234"</sim_pin_code>
<sim_me_code>"2222"</sim_me_code>
<inet_apn>"internet"</inet_apn>
<inet_username>"orange"</inet_username>
<inet_password>"orange"</inet_password>
<inet_dns1>"8.8.8.8"</inet_dns1>
<inet_dns2>"8.8.4.4"</inet_dns2>
<aws_url>"https://www.aws.com"</aws_url>
<aws_api_header>"API_KEY:123456"</aws_api_header> 
